.main-nav {
  max-width: 300px;
  background-color: white;
  border: 1px solid #ede0ff;

  h3 {
    font-weight: 500;
  }

  ul {
    list-style: none;
    width: 100%;
  }

  li {
    padding: 1.3em 0;
  }

  a {
    text-decoration: none;
    color: #7c62a9;
    display: flex;
    align-items: center;
    width: 100%;
    // padding: 0.3em;
    transition: 0.3s ease-in-out;
  }

  a:hover {
    color: #b1a3e1;
  }

  svg {
    margin-right: 1em;
  }

  // nav svg {
  //   font-size: 1.3em;
  // }
}

/* .main-nav header div {
  display: flex;
  align-items: center;
  margin-bottom: .5em;
} */

@media (max-width: 1100px) {
  .main-nav {
    flex: 0;

    header {
      display: none;
    }

    nav {
      margin-bottom: 0;
    }

    nav svg {
      font-size: 1.3em;
    }

    a {
      svg {
        margin-right: 0;
      }

      span {
        display: none;
      }
    }
  }
}

@media (max-width: 760px) {
  .main-nav {
    width: 100%;
    margin-left: -5vw;
    padding: 1.5em 2em;
    max-width: unset;
    position: fixed;
    z-index: 10;
    border: none;
    border-radius: unset;
    bottom: 0;
    background-color: #7c62a9;
    box-shadow: 0 0 4px #b1a3e1;

    svg {
      color: white;
    }

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      /* padding: 0 5vw; */
    }

    li {
      margin-right: 0;
      padding: 0;
    }
  }
}