/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.container {
  padding: 2em 3vw;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

nav h1 {
  display: flex;
  align-items: center;
  color: white;
}

nav h1 img {
  margin-right: 1em;
}

nav .text-input {
  margin-right: 1em;
}

input,
select {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #7C62A9;
  border-radius: 5px;
  padding: 0.8em 2em;
}

.btn-input {
  background: white;
  font-weight: 600;
  color: #7C62A9;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-input:hover {
  background: #B1A3E1;
  color: white;
  border-color: #B1A3E1;
  ;
}

.btn-pri {
  background: #7C62A9;
  color: white;
}

.content {
  height: 85vh;
  display: flex;
  justify-content: space-between;
}

.content .left,
.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .right h1 {
  color: #7C62A9;
  margin-bottom: 1em;
}

.content .right input,
select {
  display: block;
  margin-bottom: 1em;
}

.content .right .name {
  display: flex;
  justify-content: space-between;
}

.content .right .name input {
  width: 49%;
}

.content .right .name input:first-child {
  margin-right: 1em;
}

.inner {
  position: relative;
  bottom: 10%;
}

.fill-parent {
  width: 100%;
}