/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
  /* transition: 1s ease-in-out; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: #7c62a9;
}

.container {
  padding: 2em 10vw;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;

  h1 {
    display: flex;
    align-items: center;
    font-weight: 600;

    img {
      margin-right: 1em;
    }

    small {
      font-size: 50%;
      font-weight: 300;
      padding: 0.1em 0.5em;
      background-color: #7c62a9;
      color: white;
      border-radius: 100px;
      margin-left: 1em;
    }
  }

  .text-input {
    margin-right: 1em;
  }
}

.landing-bg nav h1 {
  color: white;
}

#logo {
  // font-size: 1.5em;
  margin-right: 0.5em;
}

.welcome {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.welcome img {
  margin-right: 1em;
}

.signin-input {
  display: flex;

  .form-input {
    margin-right: 1em;
  }

  .to-hide {
    display: inherit;
  }
}

.auth-nav .auth-nav-right,
.auth-nav .logo {
  flex-grow: 1;
}

.auth-nav .search {
  flex: auto;
}

.alt-search {
  display: none;
  margin-bottom: 3em;
  margin-right: 1em;
}

.alt-search input {
  width: 100%;
}

.auth-nav .search input {
  width: 100%;
}

.auth-nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  svg {
    font-size: 2em;
  }

  #notifications {
    margin-right: 1em;
    position: relative;

    svg {
      font-size: 1.7em;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }

    svg:hover {
      color: #b1a3e1;
    }

    div {
      position: absolute;
      top: -0.7em;
      right: -0.7em;
      width: 1.3em;
      height: 1.3em;
      display: flex;
      justify-content: center;
      // align-items: center;
      background: #b1a3e1;
      color: white;
      border-radius: 100%;

      small {
        height: 100%;
      }
    }
  }
}

.auth-nav-right img,
.auth-nav-right span {
  margin-right: 1em;
}

input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  border: 1px solid #7c62a9;
  border-radius: 5px;
  padding: 0.7em 1.3em;
  transition: 0.3s ease-in-out;
  outline: none;
}

input[type="text"]:focus {
  /* border: 2px solid #7C62A9; */
  box-shadow: 0 0 8px 0 #b1a3e1;
  outline: none;
}

/* textarea:focus {
  box-shadow: 0 0 8px 0 #B1A3E1;
  outline: none;
} */

.icon-input {
  position: relative;
}

.icon-input input,
.icon-input textarea {
  display: block;
  padding-left: 3em;
}

.icon-input .icon {
  position: absolute;
  top: 0.8em;
  left: 0.8em;
  color: #b1a3e1;
}

input[type="text"]:focus+.icon {
  color: #7c62a9;
}

.btn-input {
  background: white;
  font-weight: 600;
  color: #7c62a9;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-input:hover {
  background: #b1a3e1;
  color: white;
  border-color: #b1a3e1;
}

.btn-pri {
  background: #7c62a9;
  color: white;
  margin-top: 3em;
}

.block {
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}

select {
  display: block;
  margin-bottom: 1em;
}

.form-input {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;

  small {
    color: red;
  }

  .error {
    border: 1px solid red;
  }

  .error:focus {
    box-shadow: 0 0 8px 0 rgb(255, 149, 149);
  }
}

.content {
  height: 85vh;
  display: flex;
  justify-content: space-between;

  .left,
  .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right {
    .name {
      display: flex;
      justify-content: space-between;

      .form-input {
        width: 49%;
      }

      .form-input:first-child {
        margin-right: 1em;
      }
    }
  }

  .left {
    .info {
      h2 {
        color: white;
      }

      li {
        display: flex;
        margin-bottom: 3em;

        img {
          margin-right: 2em;
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  input {
    display: block;
  }

  input:focus {
    box-shadow: 0 0 8px 0 #b1a3e1;
  }
}

.inner {
  position: relative;
  bottom: 10%;
}

.fill-parent {
  width: 100%;
}

.form-container {
  width: 50vw;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.form-container input {
  width: 100%;
}

.form-container .btn-input {
  width: fit-content;
}

.main {
  display: flex;
}

.main-nav,
.friends {
  flex: 1;
  padding: 1em 2em;
  border-radius: 5px;
}

.main-feed,
.chat-space,
.friends-main,
.profile,
.bookmarks,
.invite-friends {
  flex: 2;
  margin: 0 1em;
}

.main-feed,
.bookmarks {
  width: 100%;
  max-width: 600px;
}

.create-post {
  border: 1px solid #f2eff6;
  border-radius: 5px;
}

.create-post h3 {
  padding: 0.3em 0.8em;
  background-color: #f2eff6;
}

.create-post textarea {
  outline: none;
  resize: none;
  border: none;
  width: 100%;
  margin-bottom: 0.5em;
}

.create-post-actions {
  display: flex;
  justify-content: space-between;
  padding: 0.3em 2em 1em 2.5em;
}

.friend-container {
  padding: 1em 2em 0 2em;

  hr {
    border: 0.5px solid #f2eff6;
    margin: 1em 0;
  }
}

.friend-main,
.friend-inner {
  display: flex;
  align-items: center;
}

.friend-main {
  justify-content: space-between;
}

.friends-main {
  border: 1px solid #ede0ff;
  border-radius: 5px;
  justify-content: space-between;
  padding: 1em 0 2em 0;

  svg {
    margin-right: 0.5em;
  }

  .btn svg {
    color: white;
  }
}

.friend-inner {
  margin-right: 1em;
}

.friend-inner svg {
  font-size: 2.7em;
}

button {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:focus {
  border: none;
}

.post-img {
  padding: 1em;

  .img-container {
    position: relative;

    img {
      width: 100%;
      border: 1px solid #f2eff6;
      border-radius: 17px;
    }

    .close {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      margin: 1em;
      padding: 0.5em;
      border-radius: 100%;
      cursor: pointer;
      background-color: rgba($color: #000, $alpha: 0.5);
      transition: 0.3s ease-in-out;
    }

    .close:hover {
      background-color: rgba($color: #000, $alpha: 0.7);
    }
  }
}

.icon-btns {
  button {
    background: none;
    border: none;

    svg {
      font-size: x-large;
      color: #7c62a9;
    }
  }

  #select-image {
    display: inline-block;
    position: relative;

    input {
      width: 2em;
      position: absolute;
      left: 0;
      visibility: hidden;
    }
  }
}

.create-post-actions .icon-btns button {
  margin-right: 1.7em;
}

.btn {
  background: #7c62a9;
  color: white;
  border: none;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  outline: none;
}

.post {
  padding: 1em 2em;
  margin: 1em 0 0 0;
  border-radius: 5px;
  border: 1px solid #ede0ff;

  h4 {
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  h4:hover {
    color: darken($color: #7c62a9, $amount: 30);
  }

  small {
    color: gray;
  }

  p {
    color: #000;
  }

  .see-more {
    background: none;
    border: none;
    outline: none;
    font-family: inherit;
    padding-top: 1em;
    color: #7c62a9;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7em;

    .user-post {
      display: flex;
    }

    .delete-post {
      svg {
        font-size: 1em;
        opacity: 0.7;
        transition: 0.3s ease-in-out;
        cursor: pointer;
      }

      svg:hover {
        opacity: 1;
      }
    }

    svg,
    img {
      font-size: 2.7em;
      margin-right: 0.5em;
    }

    p {
      word-break: break-word;
    }
  }

  hr {
    margin: 0.7em 0;
    border: 0.5px solid #7c62a91c;
  }

  .image-loading {
    padding: 1em;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7c62a91a;
    border-radius: 20px;
    margin: 1em 0;
  }

  .post-image {
    padding: 1em 0;

    img {
      cursor: pointer;
      width: 100%;
      border: 1px solid #E0E0E0;
      border-radius: 17px;
    }
  }
}

.bookmarks .post {
  margin: 0 0 1em 0;
}

// small {
//   /* color: #7c62a9bf; */
//   // font-size: 70%;
// }

.post-actions {
  display: flex;
  justify-content: space-between;
}

.post-action {
  background: none;
  color: #7c62a9;
  border: none;
  padding: 0.5em 0.7em;
  margin-right: 3em;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  outline: none;
}

.post-action svg {
  font-size: medium;
}

.post-action span {
  font-size: medium;
  margin-left: 1em;
  color: #7c62a9bf;
}

.post-action:hover {
  background-color: #7c62a940;
}

/* .post-action:focus{
  background-color: #7c62a940;
} */

// .comments {
//   /* margin-top: 1em; */
// }

.comments hr {
  margin: 1em -2em;
}

.comment-input {
  display: flex;
  align-items: center;
}

.comment-input svg,
.comment-display svg,
.friend svg,
.chat svg {
  font-size: 2.3em;
  margin-right: 0.5em;
}

.comment-input input {
  width: 100%;
  border-radius: 100px;
  /* background-color: #7c62a940; */
}

.comment-display {
  display: flex;
  margin: 1em 0;
  align-items: center;
}

.comment-display p {
  background: white;
  padding: 0.3em 1em;
  border-radius: 20px;
}

.comment-display p span {
  font-weight: 700;
  margin-right: 0.5em;
}

.comment-display small {
  /* text-align: end;
  display: block;
  margin-top: 0.3em;
  margin-right: 1em; */
  margin-left: 1em;
}

.extras,
.friends {
  flex: 1;
}

.chat-input {
  padding: 1em 2em;
  background-color: #b1a3e1;
}

.chats {
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.chat-input {
  padding: 1em 2em;
  border-radius: 0 0 5px 5px;
}

.chat-input input {
  width: 100%;
  border-radius: 100px;
  border: none;
}

.friends {
  border: 1px solid #ede0ff;
}

.friend {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2em;
}

.hide-wide {
  display: none;
}

.add-friend {
  margin-top: 1em;
  max-width: 500px;
}

.add-friend h3 {
  font-weight: 500;
}

.add-friend input {
  display: block;
  margin: 1em 0;
  width: 100%;
}

.add-friend .btn {
  display: block;
  margin-bottom: 1em;
}

.h3 {
  text-align: center;
  font-weight: 500;
  margin: 1em 0;
}

h3 {
  font-weight: 500;
}

@media (max-width: 1550px) {
  .signin-input {
    .to-hide {
      display: none;
    }
  }

  .main-feed {
    flex: 3;
  }

  .extras {
    display: none;
  }
}

@media (max-width: 1100px) {
  //
}

@media (max-width: 1000px) {
  .container {
    padding: 2em 5vw;
  }

  nav h1 {
    color: #7c62a9;
  }

  .auth-nav-right input {
    display: none;
  }

  .logo span {
    display: none;
  }

  .landing-bg {
    background: white;
  }

  .content {
    display: block;
    height: fit-content;

    .left,
    .right {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .left {
      margin-left: -5vw;
      margin-bottom: 7vh;
      width: 100vw;
      padding: 2em 5vw;
    }
  }

  // .content .right{
  //   margin-top
  // }

  .hide-wide {
    display: list-item;
  }
}

@media (max-width: 900px) {
  .auth-nav {
    margin-bottom: 1.5em;
  }

  .auth-nav .search {
    display: none;
  }

  .alt-search {
    display: block;
  }

  .alt-search {
    margin-right: 0;
  }

  .auth-nav-right {
    #notifications {
      margin-right: 0;
    }
  }
}

@media (max-width: 760px) {
  .form-container {
    width: 70vw;
  }

  /* .btn {
    padding: 0.3em 1em;
  } */

  .main-feed {
    margin: 0;
  }

  .post-action {
    margin-right: 1em;
  }

  // .friends-main {
  //   margin-bottom: 3em;
  // }
}

@media (max-width: 470px) {
  body {
    font-size: 80%;
  }

  nav h1 span {
    display: none;
  }

  /* .form-container h1 {
    text-align: center;
  } */
}

.spinner {
  font-size: 2.7em;
  animation: loading 0.7s linear infinite forwards;
}

.modal-container {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: rgba($color: #000000, $alpha: 0.7);

  .close {
    position: absolute;
    background: rgba($color: #000, $alpha: 0.3);
    cursor: pointer;
    right: 0;
    top: 0;
    margin: 1em;
    border-radius: 100%;
    display: flex;
    padding: 0.7em;
    transition: 0.3s ease-in-out;
  }

  .close:hover {
    background: rgba($color: #000, $alpha: 0.9);
  }

  .inner-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
      position: relative;
      padding: 3em;
      // width: 80vw;
      width: 100vw;
      max-height: 90vh;
      display: flex;
      justify-content: center;
      // max-width: 700px;
      border-radius: 10px;
      z-index: 100;
      animation: scaleIn 0.3s ease-out;

      div {
        text-align: center;
        width: 100%;
        border-radius: 10px;
      }

      img {
        // border: 0.3px solid #f2eff6;
        margin: auto;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .modal-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .actions {
      padding: 0.7em 0;
      display: flex;
      justify-content: space-around;
      width: 80vw;
      max-width: 500px;
      border-radius: 100px;
      background-color: rgba($color: #fff, $alpha: 0.9);
      margin-bottom: 1em;
    }
  }

  // @media (max-width: 1100px) {
  //   .inner-content {
  //     .modal {
  //       width: 100vw;
  //     }
  //   }
  // }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}